.carousel-inner .carousel-item:nth-child(1) .carousel-caption {
	/* Example child selector */
}

.carousel-caption {
	bottom: 18%;
}

.carousel-caption h1 {
	line-height: 2.5rem;
	letter-spacing: .8rem;
	/*background: -webkit-linear-gradient(rgba(255, 255, 255, .9), rgba(0, 34, 201, 1));*/
	/*#ffe000 ,#0022c9*/
	/*-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;*/

	/*-webkit-text-fill-color: white;*/ /* Will override color (regardless of order) */
	/*-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: rgba(0, 0, 0, .9);*/

	/*text-shadow: 0 0 10px rgba(255,255,255,1) , 0 0 20px rgba(255,255,255,1) , 0 0 30px rgba(255,255,255,1) , 0 0 40px #000000 , 0 0 70px #000000 , 0 0 80px #000000 , 0 0 100px #000000 ;*/

	/*https://cssgradient.io/gradient-backgrounds/*/
	/*background-color: #52ACFF;*/
	background: linear-gradient(115deg, #52ACFF 25%, #FFE32C 100%);
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
}

.carousel-item h2 {
	background: linear-gradient(115deg, #52ACFF 25%, #FFE32C 100%);
	padding: 10px 0;
	color: #474545;
}

.carousel-item {
	max-height: calc(100vh - 95px);
	overflow: hidden;
}

#header-slide {
	margin-top: 95px;
}

#header-slide .btn {
	position: absolute;
	left: 50%;
	bottom: 10%;
	z-index: 16;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
}

#mainNav .nav-link {
	font-weight: bolder;
	color: #474545; /*#A7C798, #FFE32C, #474545*/
	/*-webkit-text-fill-color: #474545;*/ /* Will override color (regardless of order) */
	/*-webkit-text-stroke-width: .5px;
	-webkit-text-stroke-color: rgba(255, 255, 255, .9);*/
}

#mainNav .nav-link:hover {
	color: #52ACFF;
	/*opacity: .75;*/
}

.carousel-indicators li {
	background-color: #474545;
}

#about .col-md {
	padding: 1em 0;
}

#about i {
	font-size: 8rem;
}

.about-section {
	padding: 0px;
	background: none;
}

@media screen and (min-width: 768px) {
	.carousel-item {
		min-height: 100vh;
	}
	.carousel-caption h1 {
		font-size: 4rem;
		line-height: 4rem;
	}

	#header-slide {
		margin-top: 0px;
	}
}

@media screen and (min-width: 992px) {
	.carousel-caption h1 {
		font-size: 6.5rem;
		line-height: 6.5rem;
	}

	.carousel-item h2 {
		font-size: 1.25rem;
	}

	#mainNav .navbar-brand {
		color: rgb(0, 34, 201);
	}
}